<% if follow_users.any? %>
  <ul class="media-list media-users">
    <% follow_users.each_with_index do |user, index| %>
      <li class="media">
        <div class="media-left">
          <p><%= index+1 %></p>
        </div>
        <div class="media-left">
          
          <a href="/users/<%= user.id %>" >
            <% if user.isuserimg? %>
              <img src="<%= user.image.thumb.url %>" alt="ユーザー写真" class="img-rounded" >
            <% else %>
              <img src="<%= gravatar_url(user, {size: 50 }) %>" alt="ユーザー写真" class="img-rounded" >
            <% end %>
          </a>
        </div>
        <div class="media-body">
          <div>
            <h5 class="media-heading">
              <%= link_to user.name, user %>
            </h5>
          </div>
          <div>
            <p>
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              <%= follow_ranking_counts[user.id] %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>