
<div class="row">
  <div class="col-md-3">
		<ul class="list-group">
			<li class="list-group-item"><%= link_to "プロフィール", settings_path %></li>
			<li class="list-group-item account-list"><%= link_to "アカウント", account_path %></li>
		</ul>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-6 col-md-offset-2">
        <%= render "users/user_photo", user: current_user %>
        <%= link_to @user.name, @user %> /　アカウント設定
      </div>
      <div class="col-md-offset-4"></div>
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <ul class="well well-lg">
                <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="col-md-offset-1 col-md-10">
            
            <div class="form-group">
              <%= f.label :image, '写真設定' %>
              
              <div class="row">
                <div class="col-md-6">
                  <input name="user[isuserimg?]" type="radio" value="false" id="user_isuserimg?"  />
                  <img src="<%= gravatar_url(@user,{size:  40}) %>" alt="グラバター">
                  グラバター写真
                </div>
                <div class="col-md-6">
                  もしくは
                  <% if @user.isuserimg? %>
                　　<%= image_tag @user.image.thumb.url %>
                　　<%= f.hidden_field :image, value: @user.image %>
                　　
                　<% else %>
                　　<%= image_tag 'noimage.gif' %>
                　<% end %>
                  <%= link_to '写真を選択', account_custom_image_path %>
                  
                </div>
                
              </div>
              
              
            </div>
            
            <div class="form-group">
              <%= f.label :email, 'Eメール' %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :name, '名前' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            
            
          </div>
          <div class="col-md-offset-1"></div>
          <div class="col-md-offset-8 col-md-3">
            <%= f.submit '更新する', class: 'btn btn-success btn-block' %>
          </div>
          <div class="col-md-offset-1"></div>
        <% end %>
      
    </div>
    
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <%= link_to "削除する", user_path(@user), method: :delete, class: "btn btn-danger", html: {confirm: "アカウントを本当に削除しますか?"} %>
      </div>
      <div class="col-md-offset-9"></div>
    </div>
  </div>
</div>