<div class="row">
  <aside class="col-md-3">
    <div class="intro">
      <div class="intro-img">
        <img src="<%= gravatar_url(@user, {size: 500 }) %>" alt="ユーザー写真" class="img-responsive img-rounded">
      </div>
      <div class="intro-name">
        
        <h2><%= @user.name %></h2>
      </div>
      <%= render 'relationships/follow_button', user: @user %>
      <div class="intro-description">
        <span class="glyphicon glyphicon-comment"></span>
        <%= @user.description %>
      </div>
      <div class="intro-belong">
        <span class="glyphicon glyphicon-briefcase"></span>
        <%= @user.belong %>
      </div>
      <div class="intro-location">
        <span class="glyphicon glyphicon-map-marker"></span>
        <%= @user.location %>
      </div>
    </div>
  </aside>
  <div class="col-md-9">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="#items" data-toggle="tab">記事 <span class="badge"> <%= @count_items %></span></a></li>
      <li role="presentation"><a href="#followings" data-toggle="tab">フォロー <span class="badge"> <%= @count_followings %></span></a></li>
      <li role="presentation"><a href="#followers" data-toggle="tab">フォロワー <span class="badge"> <%= @count_followers %></span></a></li>
    </ul>
    
    <div class="tab-content list-items">
      <div class="tab-pane active" id="items">
        <%= render 'items/items', items: @items %>
      </div>
      <div class="tab-pane" id="followings">
        <%= render 'items/items', items: @following_items %>
      </div>
      <div class="tab-pane" id="followers">
        <%= render 'items/items', items: @follower_items %>
      </div>
    </div>
  </div>
</div>