<div class="row">
  <aside class="col-md-3">
    <div class="user-profile">
      <div class="user-img">
        <% if @user.image? %>
      　　<%= image_tag @user.image.big_thumb.url, class: 'img-rounded' %>
      　<% else %>
      　　<img src="<%= gravatar_url(@user, {size: 250}) %>" class="img-rounded">
      　<% end %>
      </div>
      <div class="user-name">
        
        <h2><%= @user.name %></h2>
      </div>
      <%= render 'relationships/follow_button', user: @user %>
      <div class="user-description">
        <span class="glyphicon glyphicon-comment"></span>
        <%= @user.description %>
      </div>
      <div class="user-belong">
        <span class="glyphicon glyphicon-briefcase"></span>
        <%= @user.belong %>
      </div>
      <div class="user-location">
        <span class="glyphicon glyphicon-map-marker"></span>
        <%= @user.location %>
      </div>
    </div>
  </aside>
  <div class="col-md-9">
    <ul class="nav nav-tabs nav-justified">
      <li role="presentation"><a href="#items" data-toggle="tab">記事 <span class="badge"> <%= @count_items %></span></a></li>
      <li role="presentation"><a href="#followings" data-toggle="tab">フォロー <span class="badge"> <%= @count_followings %></span></a></li>
      <li role="presentation"><a href="#followers" data-toggle="tab">フォロワー <span class="badge"> <%= @count_followers %></span></a></li>
    </ul>
    
    <div class="tab-content list-items">
      <div class="tab-pane active" id="items">
        <%= render 'items/items', items: @items %>
      </div>
      <div class="tab-pane" id="followings">
        <%= render 'items/items', items: @following_items %>
      </div>
      <div class="tab-pane" id="followers">
        <%= render 'items/items', items: @follower_items %>
      </div>
    </div>
  </div>
</div>