<% unless logged_in? %>
  <section id="toppage-signin">
    <div class="row">
      <div class=" col-sm-6">
        <article>
          <h1>Hello, Gymnasts!</h1>
          <p>
            Gymtacsは、器械体操に関する体験や知見を記録・共有するためのサイトです。
            自分が学んだ知識・体験（トレーニングから手マメの修復の仕方等々）を共有し
            ましょう;)
          </p>
        </article>
      </div>
      <div class="col-md-offset-1 col-md-5" id="toppage-login-form">
        <%= form_for(@user) do |f| %>
          <div class="form-group">
            <%= f.label :name, 'ユーザー名' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :email, 'Eメール' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <%= f.label :name, 'パスワード(再確認)' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>
          
          <%= f.submit 'サインアップ', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      
    </div>
  </section>
  
  <section>
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li><%= link_to "トレンド", trend_path %></li>
        </ul>
      </div>
      <div class="col-md-8">
        <%= render 'items/items', items: @items %>
      </div>
      <div class="col-md-2">
        ランキングの場所
      </div>
    </div>
  </section>
<% else %>
  <h1>ログイン後のページ</h1>
  <section>
    <div class="row">
      <div class="col-md-2">
        <ul>
          <li class="<%= 'active' if current_page?(root_url) %>"><%= link_to "トレンド", root_url %></li>
          <li class="<%= 'active' if current_page?(timeline_path) %>"><%= link_to "タイムライン", timeline_path %></li>
          <li class="<%= 'active' if current_page?(like_path) %>"><%= link_to "お気に入り一覧", like_path %></li>
          <li class="<%= 'active' if current_page?(pick_path) %>"><%= link_to "クリップ一覧", pick_path %></li>
        </ul>
      </div>
      <div class="col-md-7">
        <%= render 'items/items', items: @items %>
      </div>
      <div class="col-md-3">
        ランキングの場所
      </div>
    </div>
  </section>
<% end %> 
