<% if current_user.pick?(item) %>
  <%= form_for(current_user.picks.find_by(item_id: item.id), html: {method: :delete}) do |f| %>
    <%= hidden_field_tag :item_id, item.id %>
    <%= f.submit 'ファイルからはずす', class: 'btn btn-danger btn-block' do %>
      <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
    <% end %>
  <% end %>
<% else %>
  <%= form_for(current_user.picks.build) do |f| %>
    <%= hidden_field_tag :item_id, item.id %>
    <%= f.submit "ファイルに登録する", class: 'btn btn-primary btn-block' do %>
      <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
    <% end %>
  <% end %>
<% end %>
