<% if items.any? %>
  <ul class="media-list">
    <% items.each do |item| %>
      <li class="media">
        <div class="media-left">
          <a href="/users/<%= item.user_id %>" >
            <img alt="ユーザー写真" src="<%= gravatar_url(item.user, {size: 50 }) %>" class="img-rounded">
          </a>
        </div>
        <div class="media-body">
        
          <h5 class="media-heading" class="item-name">
            <strong><%= link_to item.title, item %></strong>
          </h5>
          
          <p>
            by <%= link_to item.user.name, item.user %>
            at <%= item.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[item.created_at.wday]})") %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <%= item.favorite_users.count %>
          </p>
        
        </div>
      </li>
    <% end %>
  </ul>
<% end %>