<% if items.any? %>
  <ul class="media-list media-items">
    <% items.each do |item| %>
      <li class="media">
        <div class="media-left">
          <a href="/users/<%= item.user_id %>" >
            <%= render "users/user_photo", user: User.find_by(id: item.user_id) %>
          </a>
        </div>
        <div class="media-body">
        
          <h5 class="media-heading" class="item-name">
            <strong><%= link_to item.title, item %></strong>
          </h5>
          
          <p>
            by <%= link_to item.user.name, item.user %>
            at <%= render "items/update_time", item: item %>
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            <%= item.favorite_users.count %>
          </p>
        
        </div>
      </li>
    <% end %>
  </ul>
<% end %>