<div class="row">
  <% if @item.user_id == current_user.id %>
    <div class="col-md-3">
      <div>
        <h4>記事一覧</h4>
      </div>
      <ul class="nav nav-tabs nav-justified">
        <li class="draft" role="presentation"><a href="#draft-item" data-toggle="tab">下書き記事</a></li>
        <li class="upload" role="presentation"><a href="#upload-item" data-toggle="tab">投稿済み</a></li>
      </ul>
    
      <div class="tab-content">
        <div class="tab-pane active" id="draft-item">
          <div class="list-title-name-items">
            <%= render 'items/title_time_items', items: @draft_items %>
          </div>
        </div>
        <div class="tab-pane" id="upload-item">
          <div class="list-title-name-items">
            <%= render 'items/title_time_items', items: @upload_items %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="item-layout">
        <%= render 'items/item_buttons', item: @item %>
        <div>
          <div class="item-title">
            <h1><%= @item.title %></h1>
            <p>更新日時：　<%= render "items/update_time", item: @item %></p>
          </div>
          
          <div class="item-content">
            <%= @item.content.html_safe %>
          </div>
        </div>
      </div>
    </div>
    
  <% else %>
    <div class="col-md-8 col-md-offset-2">
      <div class="item-layout">
        <div class="media">
          <%= link_to @user, class: "media-left"  do %>
            <img src="<%= gravatar_url(@user, size: 30 ) %>" class="img-rounded" alt="">
          <% end %>
          <div class="media-body">
            <h4 class="media-heading"><%= link_to @user.name, @user %></h4>
            <p>投稿日時：　<%= @item.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@item.created_at.wday]})") %></p>
          </div>
        </div>
        <div class="item-title"  >
          <h1><%= @item.title %></h1>
        </div>
        <div class="row">
          <div class="col-md-8">
            <%= render "items/favorite_button", item: @item %>
          </div>
          <div class="col-md-4">
            <%= render "items/pick_button", item: @item %>
          </div>
        </div>
        
        
        
        <div class="item-content">
          <%= @item.content.html_safe %>
        </div>
      </div>
    </div>
  <% end %>
</div>